VITE_PUBLIC_NEWSAPI_KEY=50d8fe694962411eb80d5e290ff24b38
VITE_PUBLIC_GUARDIAN_KEY=test
VITE_PUBLIC_NYT_KEY=E7tPxideNdA2ngDZNjKfBAW0E3x6OonuUDIMrlcYzRZpqVno
VITE_PUBLIC_NEWSAPI_BASE_URL=https://newsapi.org/v2
VITE_PUBLIC_GUARDIAN_BASE_URL=https://content.guardianapis.com
VITE_PUBLIC_NYT_BASE_URL=https://api.nytimes.com/svc/search/v2
